.vertical-nav {
    list-style-type: none;
    outline: solid;
    margin: 0;
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
}

.vertical-nav>li {
    width: 280px;
    margin: 5px 0;
    text-align: center;
    font-size: 30px;
    transition: border-radius 0.2s linear, background 0.2s ease-out;
}

.vertical-nav>li:hover {
    background: red;
    border-radius: 20px;
}

.nav-and-content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
}

.content {
    outline: solid;
    display: inline-block;
}

.logo-and-title {
    padding: 20px 0 !important;
}

.logo-and-title>img {
    width: 64px;
    vertical-align: middle;
}

.title {
    margin: 0;
    margin-left: 10px;
    display: inline;
}

/* Mobile */

@media screen and (max-width: 480px)  {
    
}